@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
}

body {
  background-color: $bodyBg;
  font-size: 13px
}

a {
  text-decoration: none;
}

.nav {
  background-color: #212121;
  height: 50px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  text-align: center
}

.nav img {
  float: left;
  width: 140px;
  margin-top: 4px;
  margin-left: 130px;
  position: relative
}

.nav h2 {
  color: $text--main;
  float: left;
  margin-top: 12px;
  margin-left: 5px;
  font-family: 'Great Vibes', cursive;
  font-size: 25px
}

.nav-items {
  float: right;
  margin-right: 130px
}

.nav li {
  display: inline-block;
  margin-top: 13px;
}

.nav-items li a {
  padding: 18px 20px 13px 20px;
}

.nav-items li a i {
  color: #b0bec5;
  font-size: 25px;
}

.nav-items li a i:hover {
  color: #8e44ad;
}

.active {
  border-top: 4px solid #1de9b6;
  background-color: #757575;
}

.active i {
  color: $text--main!important
}

html,
body {
  height: 100%;
  width: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.6)
}

.pad-section {
  padding: 50px 0;
}

.banner-image img {
  width: 150px
}

.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.banner-image {
  background: url(../img/devtips-banner.jpeg)no-repeat center center fixed;
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
}

.banner-image h2 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 50px;
  font-weight: 100;
  color: $text--main;
  margin-bottom: 30px
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include breakpoint(md) {
    flex-direction: row;
  }
}

.btn-group a {
  margin: 10px
}

.cta {
  background-color: #16a085;
  color: $text--main;
  font-family: 'arial', sans-serif;
  padding: 10px 55px;
  border-radius: 5px;
  transition: background-color 300ms ease-in-out;
    &:hover {
    background-color: #1de9b6;
  }
}

.cta2 {
  background-color: #8e44ad;
  color: $text--main;
  font-family: 'arial', sans-serif;
  padding: 10px 60px;
  border-radius: 5px;
  transition: background-color 300ms  ease-in-out;
  &:hover {
    background-color: #b39ddb;
  }
}

.section-wrapper1 {
  background-color: #193f64;
}

.service {
  padding: 100px 0px
}

.service img {
  width: 120px;
  border: 5px solid white;
  border-radius: 100%;
  padding: 5px;
}

.service h3 {
  color: $text--main;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 30px;
  margin-top: 20px
}

.service p {
  color: $text--main;
  font-size: 13px;
  font-weight: 200;
  padding: 20px
}

.section-wrapper2 {
  background-color: #59c3af;
}

.the-team h2 {
  color: $text--main;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 40px;
  margin-top: 50px
}

.the-team p {
  margin-bottom: 50px;
}

.the-team img {
  width: 150px;
}

.the-team h3 {
  color: $text--main;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}

.the-team p {
  color: $text--main;
  font-size: 13px;
  font-weight: 200;
}

.the-team h4 {
  color: $text--main;
  font-weight: 200;
  margin-bottom: 50px
}

.section-wrapper3 {
  background-color: #3a3a3a;
}

.highlights {
  margin-bottom: 50px
}

.active-option {
  background-color: #8e44ad;
  border: 0px;
}

.highlights h2 {
  color: $text--main;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 40px;
  margin-top: 50px
}

.highlights p {
  color: $text--main;
  font-size: 13px;
  font-weight: 200;
}

.item {
  margin-bottom: 50px
}

.highlights-images img {
  width: 300px;
  padding: 5px;
}

.cta-option {
  border: 2px solid white;
  font-family: 'Roboto Slab', serif;
  border-radius: 5px;
  color: $text--main;
  padding: 5px 20px;
  margin-right: 10px;
}

.cta-option-all {
  padding: 5px 40px
}

.cta-option:hover {
  background-color: #16a085;
  color: $text--main;
  ;
  transition: 0.5s
}

.section-wrapper4 {
  background-color: #193f64;
}

.feedback h3 {
  color: $text--main;
  font-family: 'Roboto Slab', serif;
  padding-top: 100px;
}

.feedback img {
  width: 100px;
  margin-bottom: 20px;
}

.feedback p {
  color: $text--main;
  font-family: 'Roboto Slab', serif;
  padding-bottom: 100px;
}

.contactus h2 {
  color: black;
  font-weight: 700;
  font-size: 40px;
  margin-top: 60px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.contact-send {
  background-color: #8e44ad;
  color: $text--main;
  margin-bottom: 60px;
}

.break-fade {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px
}

.section-wrapper6 {
  background-color: #3a3a3a;
}

.footer-info h4 {
  color: $text--main;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 40px
}

.footer-info ul {
  list-style: none;
}

.footer-info li {
  padding: 5px;
}

.footer-info a {
  color: grey;
  text-decoration: none;
  font-size: 13px;
}

.footer-info a:hover {
  text-decoration: none;
  color: $text--main;
  transition: 0.6s;
  list-style: none;
}

.copyright i {
  color: grey;
  padding: 20px;
  font-size: 30px;
  margin-top: 50px;
}

.copyright p {
  color: grey;
  margin-bottom: 50px;
}
